body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
  font-size:12px;
}

pre,
textarea {
  tab-size: 2;
  -moz-tab-size: 2;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

#api-root {
}
.api-tests {
  margin:10px;
}
.endpoint {
  margin: 0 0 20px 0;
}
.endpoint-test {
  margin: 0 0 0 51px;
}
.endpoint-test-params,
.endpoint-test-body{
  border:1px solid #ccc;
  border-radius:4px;
  padding:3px 4px;
  margin: 4px 4px;
}
.endpoint-test-params {
  border-left: 4px solid #ddd;
}
.endpoint-test-body {
}
.endpoint-test-controls {
  margin:4px 0 0 0;
  padding:0 0 0 4px;
}

.endpoint-test-body th {
  text-align:left;
  vertical-align:top;
  font-weight:normal;
  padding-right:4px;
  padding-top:3px;
}
.endpoint-test-params input[type=button],
.endpoint-test-controls input[type=button]{
  width:100px;
}
.endpoint-test-body table {
  border-collapse:collapse;
  border-spacing:0;
}
.endpoint-test-body input[type=text],
.endpoint-test-body textarea {
  width: 100%;
}
.test-row-remove {
  width:100%;
}
.test-attr-toggle {
  color:#aaa;
}
th.test-attr-toggle {
  text-shadow:none;
}
.test-attr-included {
  color:#000;
}

.test-hidden {
  display:none;
}

.endpoint-url {
  font-weight:bold;
  font-family:Courier New, monospace;
}
.endpoint-url-del {
  color:#b729d9;
}
.endpoint-url-var {
  color:green;
}
.endpoint-url-prefix {
  color:#666;
}

.endpoint-method {
  font-size:10px;
  display:inline-block;
  padding:7px 0 4px;
  text-align:center;
  border-radius:2px;
  width:50px;
  color:#fff;
  text-transform: uppercase;
  margin-right:8px;
}

.endpoint-header {
  border-radius:2px;
}

.endpoint-method-get .endpoint-header {
  background-color:#e7f0f7;
  border:1px solid #c3d9ec;
}
.endpoint-method-get .endpoint-method {
  background-color:#0f6ab4;
}
.endpoint-method-get .endpoint-test-body {
  border-left:4px solid #c3d9ec;
}

.endpoint-method-post .endpoint-header {
  background-color:#e7f6ec;
  border:1px solid #c3e8d1;
}
.endpoint-method-post .endpoint-method {
  background-color:#10a54a;
}
.endpoint-method-post .endpoint-test-body {
  border-left:4px solid #c3e8d1;
}

.endpoint-method-put .endpoint-header {
  background-color:#f9f2e9;
  border:1px solid #f0e0ca;
}
.endpoint-method-put .endpoint-method {
  background-color:#c5862b;
}
.endpoint-method-put .endpoint-test-body {
  border-left:4px solid #f0e0ca;
}

.endpoint-method-patch .endpoint-header {
  background-color:#fce9e3;
  border:1px solid #f5d5c3;
}
.endpoint-method-patch .endpoint-method {
  background-color:#d38042;
}
.endpoint-method-patch .endpoint-test-body {
  border-left:4px solid #f5d5c3;
}

.endpoint-method-delete .endpoint-header {
  background-color:#f5e8e8;
  border:1px solid #e8c6c7;
}
.endpoint-method-delete .endpoint-method {
  background-color:#a41e22;
}
.endpoint-method-delete .endpoint-test-body {
  border-left:4px solid #e8c6c7;
}
